#cart_content {
	position: fixed;
	width: 550px;
	top: 20px;
	left: calc(100% - 600px);
	/* display: none; */
	background: #fff;
}
#mini_cart {
	position: fixed;
	width: 250px;
	left: calc(50% + 350px);
	top: 30px;
	z-index : 1000;
	visibility: hidden;
}
.fadeIn {
	visibility: visible;
}
.table td {
	min-width: 80px;
}
#input-cart-modal {
	display: none;
}